*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: #eeeeee;
    margin: 0;
}



#logo{
    margin-left: 20px;
    vertical-align: middle;
}

.main-title{
    background: white;
    margin-top: 0;
    padding: 20px;
   
}


.container{
    margin: 40px auto;
    background: white;
    height: 712px;
    width: 900px;
    
}

.task-box{
    display: inline-block;
    background: dodgerblue;
    height: 35px;
    width: 76px;
    margin-left: 50px;
    margin-top: 30px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    color: floralwhite;
    
    
}

.section-box{
    display: inline-block;
    background: white;
    height: 35px;
    width: 100px;
    margin-left: 20px;
    margin-top: 30px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    color: #ababab;
    border: 1px solid black;

}

.main-boxes{
    border-bottom: 1px solid #d2cbcb;
    padding-bottom: 10px;
}

.list{
    margin-left:50px;
}

.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
}

.editorial{
    display: inline-block;
    height: 30px;
    width: 80px;
    background:dodgerblue;
    border-radius: 18px;
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

.goals{
    display: inline-block;
    height: 30px;
    width: 80px;
    background:#7f1eff;
    border-radius: 18px;
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

.remove{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    font-size: 10px;
}

.recruiting{
    display: inline-block;
    height: 30px;
    width: 80px;
    background:#47ab47;
    border-radius: 18px;
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

.mobile{
    display: inline-block;
    height: 30px;
    width: 80px;
    background:#d88d05;
    border-radius: 18px;
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

.website{
    display: inline-block;
    height: 30px;
    width: 80px;
    background:#c15d8c;
    border-radius: 18px;
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

.sales{
    display: inline-block;
    height: 30px;
    width: 80px;
    background:#71ab00a8;
    border-radius: 18px;
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}