*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: #eeeeee;
    margin: 0;
}



#logo{
    margin-left: 20px;
    vertical-align: middle;
}

.main-title{
    background: white;
    margin-top: 0;
    padding: 20px;
   
}


.container{
    margin: 40px auto;
    background: white;
    height: 712px;
    width: 900px;
    
}

.task-box{
    display: inline-block;
    background: dodgerblue;
    height: 35px;
    width: 76px;
    margin-left: 50px;
    margin-top: 30px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    color: floralwhite;
    
    
}

.section-box{
    display: inline-block;
    background: white;
    height: 35px;
    width: 100px;
    margin-left: 20px;
    margin-top: 30px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    color: #ababab;
    border: 1px solid black;

}




